#background {
    background: blueviolet;
}
#background2 {
    background-color: black;
    color: white;
    height: auto;
    padding-left: 10px;
}

#background3 {
    background-color: green;
}

.background4 {
    background: red;
    height: 135px;
    width: 170px;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
}

.a {
    height: auto;
    width: 500px;
    background-color: darkgrey;
}

#red {
    height: auto;
    width: 150px;
    background-color: red;
    position: absolute;
    top: 120px;
    left: 350px;
}
                                 
#green {
    height: auto;
    width: 450px;
    background-color: rgb(38, 53, 38);
}

#yellow {
    background-color: yellow;
    height: auto;
    width:200px;
    position: absolute;
    bottom: 120px;
    left: 350px;
    opacity: 0.8;
}
.nav{
    background-color: blueviolet;
    width: 500px;
}
.nav li{
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    text-align: center;
    padding: 20px;
}
.p1{
    margin-left: 50;
}

@media(min-width: 800px){
    .wrapper{
        display: grid;
        grid-template-columns: (auto-fit,(200px, 1fr));
    }
}
.site-header{
    background-color: antiquewhite;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
}
a #img1{
    height: 10;
    width: 30;
}