table,tr,th,td{
    border: solid 1px black;
}
.btn_export{
    background-color: green; 
    color: white;
    display: flexbox;
    size: 100px;
}
.btn_new{
    background-color: lightblue; 
    color: white;
    display: flexbox;
}